
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h4 class="lead text-danger">Something went wrong</h4>
    </div>
    <div class="col-md-8">
        <p>
            Where the error occurred : @ViewBag.Path
            Message of the error : @ViewBag.Message
        </p>
    </div>
</div>

