@model List<WorkAllListDto>
@{
    ViewData["Title"] = "FinishedWorks";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Model.Count > 0)
{
    <table class="table table-sm table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Create Date</th>
            <th>Urgency</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreatedDate.ToString("D")</td>
                <td>@item.Urgency.Description</td>
            </tr>
        }
    </table>
}
else
{
    <div class="p-3 text-center mt-3 lead">
        <p class="lead">No task found</p>
    </div>
}
